/* Template overrides */
.side-menu {
    overflow-y: auto; /* Enables scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  /* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.side-menu::-webkit-scrollbar {
    width: 0px;
    display: none;
}

.side-menu {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 95vh;
}

.page-single.guest-layout {
    min-height: 100vh;
}

.p-inputtext.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.6;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e6edf3;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px;
    outline: 0;
    color: #424e79;
    opacity: 1;
}

.p-password .p-password-toggle-mask-icon {
    top: 33%;
    right: 3%;
}

.p-checkbox {
    width: 1rem !important;
    height: 1rem !important;
    border: 1px solid #e6edf3;
    border-radius: 3px;
}

.p-checkbox.p-checkbox-checked {
    background-color: #29327F;
    color: transparent;
    font-weight: 500;
}

.p-checkbox.p-checkbox-checked::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: translate(-50%, -60%) rotate(45deg) scale(.7);
}

.p-checkbox.p-disabled {
    background-color: #F3F4F6;
    display: inline-block;
    vertical-align: middle;
}

.p-checkbox.p-checkbox-checked.p-disabled {
    background-color:#29327fc7;
}

/* Base Button Styles */
.p-button {
    font-weight: 400 !important;
    font-size: 0.9375rem !important;
    padding: 0.375rem 1em !important;
    border-radius: 4px !important;
    border: 1px solid transparent !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    gap: 0.5rem !important;
}

/* Transparent Button */
.p-button.btn-transparent {
    background-color: transparent !important;
    color: #29327f !important;
    border-color: transparent !important;
}

.p-button.btn-transparent:hover {
    background-color: transparent !important;
    color: #29327f !important;
    border-color: transparent !important;
}

.p-button.btn-transparent:focus {
    box-shadow: unset !important;
}

/* Primary Button */
.p-button.btn-primary,
.p-button {
    background-color: #29327f !important;
    color: white !important;
    border-color: #29327f !important;
}

.p-button.btn-primary:hover,
.p-button:hover {
    background-color: #303a91 !important;
    border-color: #303a91 !important;
}

.p-button:focus {
    box-shadow: 0 0 0 2px rgba(52, 58, 64, 0.1) !important;
    outline: none !important;
}

.p-button:active {
    background-color: #303a91 !important;
    border-color: #303a91 !important;
}

/* Small Button Styles */
.btn-sm, 
.btn-group-sm > .btn {
    font-size: 0.75rem !important;
    line-height: 1.33333333;
    border-radius: 3px;
}

/* Large Button Styles */
.btn-lg, .btn-group-lg>.btn {
    padding: 0.7rem 2rem;
    font-size: 16px !important;
    line-height: 1.625;
    border-radius: 3px;
}

/* Button Variants */
.p-button.btn-warning {
    background-color: #ffc107 !important;
    color: black !important;
    border-color: #ffc107 !important;
}

.p-button.btn-danger {
    background-color: #dc3545 !important;
    color: white !important;
    border-color: #dc3545 !important;
}

.p-button.btn-light {
    background-color: #f8f9fa !important;
    color: black !important;
    border-color: #f8f9fa !important;
}

.p-button.btn-secondary {
    background-color: #6c757d !important;
    color: white !important;
    border-color: #6c757d !important;
}

.p-button.btn-success {
    background-color: #28a745 !important;
    color: white !important;
    border-color: #28a745 !important;
}

.p-button.btn-info {
    background-color: #17a2b8 !important;
    color: white !important;
    border-color: #17a2b8 !important;
}

/* Disabled Button Styles */
.p-button:disabled {
    opacity: 0.65 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}

/* Hover Effects */
.p-button.btn-warning:hover {
    background-color: #e0a800 !important;
    border-color: #d39e00 !important;
}

.p-button.btn-danger:hover {
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}

.p-button.btn-light:hover {
    background-color: #e2e6ea !important;
    border-color: #dae0e5 !important;
}

.p-button.btn-secondary:hover {
    background-color: #5a6268 !important;
    border-color: #545b62 !important;
}

.p-button.btn-success:hover {
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
}

.p-button.btn-info:hover {
    background-color: #138496 !important;
    border-color: #117a8b !important;
}

/* P-message */
.p-message {
    border-radius: 6px !important;
    outline-width: 1px !important;
    outline-style: solid;
}

/* Info Message */
.p-message.p-message-info {
    background-color: #d1ecf1 !important;
    border-left: 4px solid #17a2b8 !important;
    color: #0c5460 !important;
}
  
  /* Success Message */
.p-message.p-message-success {
    background-color: #d4edda !important;
    border-left: 4px solid #28a745 !important;
    color: #155724 !important;
}
  
/* Warning Message */
.p-message.p-message-warn {
    background-color: #fff3cd !important;
    border-left: 4px solid #ffc107 !important;
    color: #856404 !important;
}
  
  /* Error Message */
.p-message.p-message-error {
    background-color: #f8d7da !important;
    border-left: 4px solid #dc3545 !important;
    color: #721c24 !important;
}

.p-popover {
    margin-block-start: 10px !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    color: #334155 !important;
    border: 1px solid #d3dfea !important;
    border-radius: 0.3rem !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1) !important;
}

.p-popover:after, .p-popover:before {
    left: calc(10px + var(--p-popover-arrow-left)) !important;
}

.p-popover:before {
    border-width: 10px !important;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #e2e8f0 !important;
}

.p-popover:after {
    border-width: calc(10px - 2px) !important;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #fff !important;
}

.side-menu__icon {
    font-size: 1.3rem;
}

.p-card {
    word-wrap: break-word;
    background-color: #fff !important;
    box-shadow: -8px 12px 18px 0 #f1f4fb !important;
    border-radius: 8px !important;
}

/* p-table */
.p-datatable {
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.p-datatable .p-datatable-header {
    background-color: #f8f9fa;
    padding: 15px;
    border-bottom: 1px solid #e9ecef;
}

.p-datatable .p-datatable-thead {
    background-color: #f1f3f5;
}

.p-datatable .p-datatable-thead > tr > th {
    background-color: #f1f3f5;
    color: #495057;
    padding: 12px 15px;
    border-bottom: 1px solid #eff0f6;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.875rem;
}

.p-datatable .p-datatable-tbody > tr {
    transition: background-color 0.2s;
}

.p-datatable .p-datatable-tbody > tr:nth-child(even) {
    background-color: #f8f9fa;
}

.p-datatable .p-datatable-tbody > tr:hover {
    background-color: #e9ecef;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: 12px 15px;
    border-top: 1px solid #eff0f6;
    border-bottom: unset;
    color: #495057;
}

.p-datatable .p-datatable-footer {
    background-color: #f8f9fa;
    padding: 15px;
    border-top: 1px solid #e9ecef;
}

/* Pagination Styles */
.p-paginator {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    padding: 10px;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
    background-color: #fff;
    border: 1px solid #dee2e6;
    color: #495057;
    margin: 0 2px;
    transition: all 0.2s;
}

.p-paginator .p-paginator-page {
    background-color: #fff;
    border: 1px solid #dee2e6;
    color: #495057;
    margin: 0 2px;
    transition: all 0.2s;
}

.p-paginator .p-paginator-page.p-highlight {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.p-paginator-page.p-paginator-page-selected {
    background: #29327f !important;
    color: #fff !important;
}

.pi {
    font-size: 1rem !important;
}

.p-button-icon-only {
    width: 2.5rem !important;
    justify-content: unset !important;
}

.search-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .75rem;
    margin-top: .75rem;
}

.search-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-field .search-icon {
    position: relative;
    right: 1.7rem;
    top: .3rem;
    color: #424e799c;
}

.search-set .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.p-paginator {
    background: #fff !important;
    color: #334155 !important;
    padding: 0.5rem 1rem !important;
    border-radius: 6px !important;
    gap: 0.25rem !important;
    border: unset;
}

.p-paginator-content {
    gap: 0.25rem !important;
}

.p-paginator-page, .p-paginator-next, .p-paginator-last, .p-paginator-first, .p-paginator-prev {
    background: transparent !important;
    color: #64748b !important;
    min-width: 2.5rem !important;
    height: 2.5rem !important;
    transition: background 0.2s, color 0.2s, outline-color 0.2s, box-shadow 0.2s !important;
    border-radius: 50% !important;
}

.p-dialog {
    border-radius: 12px !important;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 8px 10px -6px rgba(0,0,0,0.1) !important;
    background: #fff !important;
    border: 1px solid #e2e8f0 !important;
    color: #334155 !important;
}

.p-overlay-mask-enter {
    animation: p-overlay-mask-enter-animation 0.15s forwards !important;
}

@keyframes p-overlay-mask-enter-animation {
    0% {
        background: transparent !important;
    }
    100% {
        background: rgba(0,0,0,0.6) !important;
    }
}

.p-overlay-mask {
    background: rgba(0,0,0,0.4) !important;
    color: #e2e8f0 !important;
}

.p-datatable-mask.p-overlay-mask {
    background: rgba(255, 255, 255, 0.4) !important;
}

.p-dialog-header {
    padding: 1rem !important;
}

.p-dialog-content {
    padding: 0 1.25rem 1.25rem 1.25rem !important;
}

.p-dialog-title {
    font-weight: 600 !important;
    font-size: 1.25rem !important;
}

.p-dialog-header-actions {
    gap: 0.5rem !important;
}

.p-dialog-header > h3 {
    margin: 0 !important;
}

.p-dialog-header .p-dialog-close-button {
    background-color: transparent !important;
    border-radius: 50% !important;
    border-color: transparent !important;
}

.p-dialog-header .p-dialog-close-button > svg {
    display: none !important;
}

.p-dialog-header .p-dialog-close-button:focus {
    box-shadow: unset !important;
}

.p-dialog-header .p-dialog-close-button::before,
.p-dialog-header .p-dialog-close-button::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: #333; /* Dark gray color */
    border-radius: 1px;
    top: 0.1rem;
    left: 1.2rem;
}

.p-dialog-header .p-dialog-close-button::before {
    transform: translate(-50%, 50%) rotate(45deg);
}

.p-dialog-header .p-dialog-close-button::after {
    transform: translate(-50%, 50%) rotate(-45deg);
}

.p-dialog-header .p-dialog-close-button:hover::before,
.p-dialog-header .p-dialog-close-button:hover::after {
    background-color: #666; /* Slightly lighter gray on hover */
}

.p-confirmdialog .p-dialog-content {
    gap: 0.5rem !important;
}

.p-dialog-footer {
    padding: 0 1.25rem 1.25rem 1.25rem !important;
    gap: 0.5rem !important;
}

.p-skeleton {
    background-color: #E9EEF1 !important;
    border-radius: 6px !important;
}

.p-skeleton::after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255,255,255,0.4), rgba(255, 255, 255, 0)) !important;
}

.p-select {
    width: 100%;
    background: #fff !important;
    border: 1px solid #cbd5e1 !important;
    transition: background 0.2s, color 0.2s, border-color 0.2s, outline-color 0.2s, box-shadow 0.2s !important;
    border-radius: 6px !important;
    box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(18,18,23,0.05) !important;
}

.p-select-label {
    padding: 0.5rem 0.75rem !important;
}

.p-select-label.p-placeholder {
    color: #64748b !important;
}

.p-select-dropdown {
    color: #94a3b8 !important;
    width: 2.5rem !important;
    border-start-end-radius: 6px !important;
    border-end-end-radius: 6px !important;
}

.p-select-list {
    padding: 0.25rem 0.25rem !important;
    gap: 2px !important;
}

.p-select-option {
    padding: 0.5rem 0.75rem !important;
    color: #334155 !important;
    transition: background 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s !important;
    border-radius: 4px !important;
}

.p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
    background: #f1f5f9 !important;
    color: #1e293b !important;
}

.p-select-overlay {
    background: #fff !important;
    color: #334155 !important;
    border: 1px solid #e2e8f0 !important;
    border-radius: 6px !important;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -2px rgba(0,0,0,0.1) !important;
}

.p-float-label:focus {
    outline: none !important;
}

.p-float-label:has(input:focus) label, 
.p-float-label:has(input.p-filled) label, 
.p-float-label:has(input:-webkit-autofill) label, 
.p-float-label:has(textarea:focus) label, 
.p-float-label:has(textarea.p-filled) label, 
.p-float-label:has(.p-inputwrapper-focus) label, 
.p-float-label:has(.p-inputwrapper-filled) label {
    top: 2px !important;
    font-size: 12px !important;
    color: #16558f !important;
    background-color: #fff !important;
}   

.step-view > div.d-flex {
    gap: 0.75rem;
}

div.p-invalid,
.p-inputtext.p-invalid {
    border:1px solid #dc0441 !important;
    border-radius: 6px !important;
}

small.p-error {
    color: #dc0441;
}